# **Decision Tree Model**

*The dataset is already download in .csv format*

# **IMPORTING THE PACKAGE**

In [1]:
import numpy as np 
import pandas as pd

import warnings
warnings.filterwarnings('ignore')


# **Load the dataset**

In [5]:
df=pd.read_csv('loan_prediction.csv')

In [6]:
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [7]:
df.shape

(614, 13)

# **Handle the Missing values**

In [8]:
#checking the null values
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

# **Treating the Null Value**

*We will fill the missing values in numeric data type using
the mean value of that particular column and categorical data type using the most repeated value*

In [10]:
numerical_features = df.select_dtypes(include = [np.number]).columns
categorical_features = df.select_dtypes(include = [np.object]).columns

In [11]:
numerical_features

Index(['ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History'],
      dtype='object')

In [12]:
categorical_features

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [13]:
df['Gender'] = df['Gender'].fillna(df['Gender'].mode()[0])
df['Married'] = df['Married'].fillna(df['Married'].mode()[0])
#replace + with non value 
df['Dependents'] = df['Dependents'].str.replace('+','')
df['Dependents'] = df['Dependents'].fillna(df['Dependents'].mode()[0])
df['LoanAmount'] = df['LoanAmount'].fillna(df['LoanAmount'].mode()[0])
df['Self_Employed'] = df['Self_Employed'].fillna(df['Self_Employed'].mode()[0])
df['Loan_Amount_Term'] = df['Loan_Amount_Term'].fillna(df['Loan_Amount_Term'].mode()[0])
df['Credit_History'] = df['Credit_History'].fillna(df['Credit_History'].mode()[0])

In [14]:
#checking the null values now
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

# **Handling Categorical Values**

In [15]:
df.select_dtypes(include='object').columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [16]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)

In [17]:
df['Gender'].replace({'Male':1,'Female':0},inplace=True)

In [18]:
df['Married'].unique()

array(['No', 'Yes'], dtype=object)

In [19]:
df['Married'].replace({'Yes':1,'No':0},inplace=True)

In [20]:
df['Dependents'].unique()

array(['0', '1', '2', '3'], dtype=object)

In [21]:
df['Dependents'].replace({'0':0,'1':1,'2':2,'3':3},inplace=True)

In [22]:
df['Self_Employed'].unique()

array(['No', 'Yes'], dtype=object)

In [23]:
df['Self_Employed'].replace({'Yes':1,'No':0},inplace=True)

In [24]:
df['Property_Area'].unique()

array(['Urban', 'Rural', 'Semiurban'], dtype=object)

In [25]:
df['Property_Area'].replace({'Urban':2,'Rural':0,'Semiurban':1},inplace=True)

In [26]:
df['Loan_Status'].unique()

array(['Y', 'N'], dtype=object)

In [27]:
df['Loan_Status'].replace({'Y':1,'N':0},inplace=True)

In [28]:
df['Education'].unique()

array(['Graduate', 'Not Graduate'], dtype=object)

In [29]:
df['Education'].replace({'Graduate':1,'Not Graduate':0},inplace=True)

In [30]:
df['CoapplicantIncome']=df['CoapplicantIncome'].astype("int64")
df['LoanAmount']=df['LoanAmount'].astype("int64")
df['Loan_Amount_Term']=df['Loan_Amount_Term'].astype("int64")
df['Credit_History']=df['Credit_History'].astype("int64")

In [31]:
# dummy columns are created for the categories in Loan_ID
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Loan_ID'] = le.fit_transform(df.Loan_ID)

In [32]:
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,0,1,0,0,1,0,5849,0,120,360,1,2,1
1,1,1,1,1,1,0,4583,1508,128,360,1,0,0
2,2,1,1,0,1,1,3000,0,66,360,1,2,1
3,3,1,1,0,0,0,2583,2358,120,360,1,2,1
4,4,1,0,0,1,0,6000,0,141,360,1,2,1


# **Balancing The Dataset**

In [33]:
from imblearn.combine import SMOTETomek

In [34]:
smote = SMOTETomek(0.90)

In [35]:
#dividing the dataset into dependent and independent y and x respectively

y = df['Loan_Status']
x = df.drop(columns=['Loan_Status'],axis=1)

In [36]:
#creating the new x and y for balance data
x_bal,y_bal = smote.fit_resample(x,y)

In [37]:
#printing the value before and after balancing 
print(y.value_counts())
print(y_bal.value_counts())

1    422
0    192
Name: Loan_Status, dtype: int64
1    355
0    312
Name: Loan_Status, dtype: int64

# **Scaling The Data**

In [38]:
from sklearn.preprocessing import StandardScaler

In [39]:
sc = StandardScaler()
x_bal = sc.fit_transform(x_bal)

In [40]:
x_bal = pd.DataFrame(x_bal)

In [41]:
x_bal.head()

,0,1,2,3,4,5,6,7,8,9,10,11
0,-1.783896,0.538642,-1.212588,-0.729699,0.612583,-0.328593,0.146148,-0.528282,-0.290380,0.305036,0.596398,1.349960
1,-1.778011,0.538642,0.824682,0.316988,0.612583,-0.328593,-0.080155,-0.038455,-0.187241,0.305036,0.596398,-1.219008
2,-1.772126,0.538642,0.824682,-0.729699,0.612583,3.043278,-0.363125,-0.528282,-0.986574,0.305036,0.596398,1.349960
3,-1.766241,0.538642,0.824682,-0.729699,-1.632432,-0.328593,-0.437665,0.237641,-0.290380,0.305036,0.596398,1.349960
4,-1.760357,0.538642,-1.212588,-0.729699,0.612583,-0.328593,0.173140,-0.528282,-0.019638,0.305036,0.596398,1.349960

# **Splitting Data Into Train And Test**

In [42]:
# splitting the data into training and testing set

from sklearn.model_selection import train_test_split

In [43]:
x_train, x_test, y_train, y_test = train_test_split(x_bal, y_bal, test_size = 0.33, random_state = 42)

In [44]:
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(446, 12)
(446,)
(221, 12)
(221,)

# **Evaluating the model**

In [45]:
from sklearn.tree import DecisionTreeClassifier

model = DecisionTreeClassifier(max_depth=4,splitter='best',criterion='entropy')

In [46]:
model.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=4)

In [47]:
y_predict= model.predict(x_test)
y_predict

array([0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1,
       0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1,
       1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1,
       0])

In [48]:
y_predict_train = model.predict(x_train)

# **Evaluating the model**

In [49]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix

In [50]:
print('Testing accuracy = ', accuracy_score(y_test,y_predict))
print("Training accuracy= ",accuracy_score(y_train,y_predict_train))

Testing accuracy =  0.7375565610859729
Training accuracy=  0.8026905829596412

In [51]:
print(classification_report(y_test,y_predict))

              precision    recall  f1-score   support

           0       0.79      0.61      0.68       104
           1       0.71      0.85      0.78       117

    accuracy                           0.74       221
   macro avg       0.75      0.73      0.73       221
weighted avg       0.75      0.74      0.73       221